@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.container {
    border: 1px solid black;
    width: 99.9%;
    background-color: black;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    margin: 0;
    padding: 0;
}

#tittle{
    color: white;
    position: fixed;
    top: 25%;
    left: 43%;
    font-size: 60px;
    z-index: 1;
}

.progressBar {
    width: 40%;
    height: 2vh;
    margin: 20% auto;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    border: 1px solid white;
}

.progress {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.navBar {
    position: absolute;
    width: 100%;
    height: 90vh;
    top: 10%;
    background-image: url('./assets/navPhotos.jpg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: 80% 100%;
    background-color: #992e0ef1;
    transition: all 0.3s ease;
    right: 0;
}

.navLinksLeft {
    color: white;
    width: 30%;
    height: 7vh;
    display: flex;
    align-items: center;
    margin-top: 1%;
    justify-content: space-evenly;
    position: fixed;
    z-index: 1;
}

.navLinksLeft p {
    padding: 10px 15px;
    border-radius: 20px;
    transition: all 0.3s ease;
    cursor: pointer;
    margin-bottom: 20px;
}

.navLinksRight p {
    padding: 10px 15px;
    border-radius: 20px;
    margin-bottom: 25px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.navLinksRight p:hover {
    transition: all 0.3s ease;
    background-color: white;
    color: black;
}

.navLinksLeft p:hover {
    transition: all 0.3s ease;
    background-color: white;
    color: black;
}

.navBarLinks {
    height: 9.5vh;
    background-color: black;
    position: fixed;
    z-index: 2;
    width: 100%;
    top: 0;
}

.navLinksRight {
    color: white;
    height: 7vh;
    width: 26%;
    position: fixed;
    right: 1%;
    top: 2.4%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 2;
}

.navCtn {
    width: 30%;
    height: 27vh;
    margin-left: 64%;
    display: flex;
    margin-top: 15%;
    color: white;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.navCtn button {
    border: 1px solid white;
    padding: 10px 30px;
    border-radius: 20px;
    margin-top: 15px;
}

.navToggle {
    border: 1px solid black;
    width: 55px;
    height: 17px;
    top: 6%;
    right: 3%;
    border-radius: 30px;
    position: absolute;
    overflow: hidden;
    padding: 5px;
    border: 1px solid white;
}

.navToggle span {
    margin-top: -1px;
    height: 72%;
    border-radius: 50%;
    width: 30%;
    background-color: white;
    position: absolute;
    cursor: pointer;
}

.navToggle p {
    position: absolute;
    right: 14%;
    top: -45%;
    cursor: pointer;
}

/* Section 1 */

.section1 {
    width: 99.9%;
    position: absolute;
    top: 100%;
    height: 90.4vh;
    background-color: #cec8c4f1;
    overflow: hidden;
}

.section1 img {
    width: 80%;
    margin-left: 10%;
    height: 100%;
}

.section1Ctn {
    width: 40%;
    height: 22vh;
    position: absolute;
    right: 2%;
    z-index: 1;
    top: 74%;
    text-align: right;
}

.section1Ctn button {
    padding: 10px 30px;
    border-radius: 20px;
    border: 0px;
}

.section1Ctn h1 {
    margin-top: -15px;
}

/* Section 2 */

.section2 {
    width: 99.9%;
    height: 104.3vh;
    position: absolute;
    top: 190.5%;
}

.section2Top {
    display: flex;
    width: 87.8%;
    margin: 1.5% auto;
}

.section2Top div {
    position: absolute;
    right: -2%;
    top: 2.5%;
}

.boxes {
    margin: -1% 5%;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.lights {
    width: 15%;
    height: 38vh;
    margin: 5px;
}

.lights img {
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
}